/temp/*
/runtime/*
/logs/*
/docs/*
/conf/*
/.metadata/*

/jars/assets/*
/jars/crash-reports/*
/jars/logs/*
/jars/resourcepacks/*
/jars/saves/*
/jars/versions/*
/jars/options.txt
/jars/optionsof.txt
/jars/server.dat
/jars/server.properties
/jars/usercache.json

/export/*