/temp/*
/runtime/*
/logs/*
/docs/*
/conf/*
/.metadata/*

/jars/crash-reports/*
/jars/logs/*
/jars/resourcepacks/*
/jars/saves/*
/jars/options.txt
/jars/optionsof.txt
/jars/server.dat
/jars/server.properties
/jars/usercache.json

/export/*

/eclipse/.metadata/.plugins/
/jars/assets/*
/jars/screenshots
/jars/servers.dat

/eclipse/.metadata/.mylyn/*
/eclipse/.metadata/.lock
/eclipse/.metadata/.log
/eclipse/Client/bin/*
